@font-face {
  font-family: 'Death Star Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Death Star Regular'), url('./font/Death Star.woff') format('woff');
}

@font-face {
  font-family: 'Star Jedi Outline';
  src: url('./font/Starjout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.loading {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
}

.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 100px;
}

.logo {
  width: 40%;
  height: auto;
  margin-top: 3rem;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

/* Card Categories */

.category_container {
  width: 30rem;
  height: 15rem;
  padding: 0;
  overflow: hidden;
}

.category_container:hover {
  border: 1px solid yellow;
}

.bg_category {
  width: 100%;
  height: 100%;
  padding: 0;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.8s;
}

.flexbox {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
  padding: 0;
  transition: all 0.8s;
}

.hover {
  visibility: hidden;
  position: absolute;
  top: -100%;
  background: #050404a9;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: none;
  text-transform: uppercase;
  z-index: 1;
}

.flexbox:hover .hover {
  visibility: visible;
  top: 0;
  z-index: 1;
}

.flexbox:hover .bg_category {
  transform: scale(1.2);
}

.card_category_title {
  display: inline-block;
  color: #ffe81f;
  font-size: 1.2rem;
  height: 2rem;
  letter-spacing: 0.2rem;
}

/* Titles */
.title {
  font-family: 'Star Jedi Outline';
  color: #ffe81f;
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.title_small {
  font-family: 'Death Star Regular';
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.title_categor,
.h_big {
  font-family: 'Star Jedi Outline';
  font-size: 2rem;
  font-weight: 200;
  color: #f4f4f4;
  letter-spacing: 0.3rem;
}

.card_title {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: rgb(63, 63, 63);
  padding: 0.5rem;
}

/* Card Details */

.details_container {
  height: 400px;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.details_container_img {
  margin-right: 2rem;
}

.details_title {
  display: block;
  background: rgb(121, 120, 119);
  padding: 1rem;
  margin-top: 0;
  text-align: center;
}

.details_container_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  background: #dfdfdfd5;
}

.details_text {
  line-height: 1rem;
  font-size: 0.8rem;
}

.box_film_characters {
  background: #dfdfdfd5;
  width: 50%;
  height: 20rem;
}

.cardDetails_img {
  height: 400px;
  width: auto;
}

.property_title {
  font-weight: 700;
}

/* Card  */
.btn_card {
  cursor: pointer;
  width: 15rem;
  height: auto;
  max-height: 40rem;
  padding: 0;
  background: #dfdfdfd5;
  overflow: hidden;
  border: none;
  transition: 0.5s;
}

.btn_card:hover {
  border: 1px solid #ffe81f;
}

.card_img {
  width: 100%;
  height: auto;
}

.btn_card_cat {
  border: none;
  cursor: pointer;
}

/* nav */
.main_nav {
  margin: 0 auto;
}

.main_nav_links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn_back {
  position: relative;
  font-family: 'Death Star Regular';
  display: inline-block;
  cursor: pointer;
  color: #ffe81f;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: all 0.6s;
}

.btn_back::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 1rem;
  display: inline-block;
  height: 8%;
  width: 0%;
  background: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.6s;
  box-shadow: 0;
}

.btn_back:hover {
  color: rgb(105, 98, 3);
}

.btn_back:hover::after {
  height: 8%;
  width: 60%;
  border: 1px solid rgb(180, 0, 30);
  background: rgb(255, 177, 190);
  box-shadow: 0px 0px 20px 10px #ce0c2c;
}

/* footer */
.main_footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  width: 100%;
}

.p_footer {
  color: white;
  font-size: 0.8rem;
}
